<a href="" class="link-arrow">learn more</a>
<span class="bages bages--secondary bage--small">10% off</span>
<ul class="list list--check">
  <li class="list__item">items 1</li>
  <li class="list__item">items 2</li>
  <li class="list__item">items 3</li>
  <span class="icon-contaner">
    <svg class="icon icon--primary">
      <use xlink:href="css/images/sprite.svg#wordpress"></use>
    </svg>
  </span>
</ul>
<button class="btn btn--secondary btn--block">home</button>
<a href="#" class="btn btn--primary btn--block">home</a>
<div class="input-group">
  <input type="text" class="input" placeholder="Enter text here" />
  <button class="btn btn--acent">search</button>
</div>
<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="css/images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Lorem ipsum dolor sit amet.</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum fuga quaerat
      tempore provident quidem esse commodi quas ab reiciendis impedit
      temporibus doloribus officiis asperiores, assumenda omnis eum tenetur
      vitae. Ut?
    </p>
  </div>
</div>
