<section class="block container block--plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__biling">/month</span>
          <span class="bages bages--secondary bages--small">10% OFF</span>
          <span style="display: block" class="plan__disc"
            >easy start on the cloud</span
          >
        </header>
        <div class="card__body">
          <ul class="list list--check">
            <li class="list__item">home</li>
            <li class="list__item">car</li>
            <li class="list__item">insure</li>
            <li class="list__item">jobs</li>
            <button class="btn btn--outline btn--block">get now</button>
          </ul>
        </div>
      </div>
    </div>

    <div class="plan">
      <div class="card card--primary plan--popular">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__biling">/month</span>
          <span class="bages bages--primary bages--small">10% OFF</span>
          <span style="display: block" class="plan__disc"
            >easy start on the cloud</span
          >
        </header>
        <div class="card__body">
          <ul class="list list--check">
            <li class="list__item">home</li>
            <li class="list__item">car</li>
            <li class="list__item">insure</li>
            <li class="list__item">jobs</li>
            <button class="btn btn--outline btn--block">get now</button>
          </ul>
        </div>
      </div>
    </div>

    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__biling">/month</span>
          <span class="bages bages--secondary bages--small">10% OFF</span>
          <span style="display: block" class="plan__disc"
            >easy start on the cloud</span
          >
        </header>
        <div class="card__body">
          <ul class="list list--check">
            <li class="list__item">home</li>
            <li class="list__item">car</li>
            <li class="list__item">insure</li>
            <li class="list__item">jobs</li>
            <button class="btn btn--outline btn--block">get now</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
