<footer class="block block--dark footer">
  <div class="container grid footer__sec footer__margin">
    <section class="collaps collaps--ext footer__section">
      <header class="collaps__header">
        <h2 class="collaps__heading footer__heading">item 1</h2>
        <svg class="icon icon--white collaps__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collaps__content">
        <ul class="list">
          <li><a href="#">hihigfgklf</a></li>
          <li><a href="#">hihigdskfj</a></li>
          <li><a href="#">hihigvkhfg</a></li>
        </ul>
      </div>
    </section>
    <section class="collaps collaps--ext footer__section">
      <header class="collaps__header">
        <h2 class="collaps__heading footer__heading">item 1</h2>
        <svg class="icon icon--white collaps__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collaps__content">
        <ul class="list">
          <li><a href="#">hihigfgklf</a></li>
          <li><a href="#">hihigdskfj</a></li>
          <li><a href="#">hihigvkhfg</a></li>
        </ul>
      </div>
    </section>
    <section class="collaps collaps--ext footer__section">
      <header class="collaps__header">
        <h2 class="collaps__heading footer__heading">item 1</h2>
        <svg class="icon icon--white collaps__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collaps__content">
        <ul class="list">
          <li><a href="#">hihigfgklf</a></li>
          <li><a href="#">hihigdskfj</a></li>
          <li><a href="#">hihigvkhfg</a></li>
        </ul>
      </div>
    </section>

    <section class="footer__brand">
      <img class="footer__img" src="images/LOGOH.png" alt="" />
      <p class="footer__copyright">Copyright 2020 Abdullah Jafar</p>
    </section>
  </div>
</footer>
