<section class="block block--dark block--skewed--left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Abdullah Jafar</h1>
      <p class="hero__tagline">A 14 year old Web and App Developer</p>
      <a href="" class="btn btn--acent btn--long">Contact</a>
    </header>
    <picture>
      <source
        type="images/webp"
        srcset="
          images/resized/banner.webp    1x,
          images/resized/banner@2x.webp 2x
        " />
      <source
        type="images/webp"
        srcset="
          images/resized/banner.png    1x,
          images/resized/banner@2x.png 2x
        " />
      <img class="hero__image" src="images/resized/banner.png" alt=""
    /></picture>
  </div>
</section>
