<nav class="nav collaps">
  <a class="nav__brand" href="/"><img src="./css/images/logo.svg" alt="" /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="css/images/sprite.svg#menu"></use>
    <ul class="list nav__list collaps__content">
      <li class="nav__items"><a href="#">hosting</a></li>
      <li class="nav__items"><a href="#">costing</a></li>
      <li class="nav__items"><a href="#">hofafaf</a></li>
      <li class="nav__items"><a href="#">hssting</a></li>
    </ul>
  </svg>
</nav>
