<nav class="nav collaps">
  <a class="nav__brand" href="/"
    ><img class="logo" src="/images/LOGOH.png" alt=""
  /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="/images/sprite.svg#menu"></use>
  </svg>

  <ul class="list nav__list collaps__content">
    <li class="nav__items"><a href="#">ABOUT ME</a></li>
    <li class="nav__items"><a href="#">contact me</a></li>
    <li class="nav__items"><a href="#">what i do</a></li>
    <li class="nav__items"><a href="#">hshs</a></li>
  </ul>
</nav>
