<nav class="nav collaps">
  <a class="nav__brand" href="/"
    ><video autoplay loop src="./images/lastfinalaj - Copy.mp4"></video
  ></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="css/components/images/sprite.svg#menu"></use>
    <ul class="list nav__list collaps__content">
      <li class="nav__items"><a href="#">ABOUT ME</a></li>
      <li class="nav__items"><a href="#">contact me</a></li>
      <li class="nav__items"><a href="#">what i do</a></li>
      <li class="nav__items">
        <a href="#"></a>
        projects
      </li>
    </ul>
  </svg>
</nav>

<ul class="list nav__list collaps__content">
  <li class="nav__items"><a href="#">ABOUT ME</a></li>
  <li class="nav__items"><a href="#">contact me </a></li>
  <li class="nav__items"><a href="#">what i do</a></li>
  <li class="nav__items"><a href="#"></a>projects</li>
</ul>

<nav class="nav collaps">
  <a class="nav__brand" href="/"
    ><video autoplay loop src="./images/lastfinalaj - Copy.mp4"></video
  ></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="css/components/images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collaps__content">
    <li class="nav__items"><a href="#">ABOUT ME</a></li>
    <li class="nav__items"><a href="#">contact me </a></li>
    <li class="nav__items"><a href="#">what i do</a></li>
    <li class="nav__items"><a href="#"></a>projects</li>
  </ul>
</nav>
