<blockquote class="quote">
  <p class="quote__txt">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ea earum
    sapiente. Perferendis rerum inventore explicabo fugit, corrupti distinctio
    dolore.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="css/images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jafar Haand</h3>
        <p class="quote__company">VOA</p>
      </div>
    </div>
  </footer>
</blockquote>
